:root {
  --color-primary: #ffffff;
  --color-secondary: #c4c4c4;
  --color-tertiary: #575555;
  --color-highlight: #ff0707;
  --color-text-dark: #000000;
  --color-text-light: #ffffff;
}

body {
  margin-top: 100px;
  height: calc(100vh-100px);
  width: 100vw;
  background-color: var(--color-secondary);
  background-image: url('../src/img/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Fira Sans', sans-serif;
}

.wrapper {
  height: 100%;
}

p {
  margin: 0;
}

i {
  margin: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
}

input {
  border: none;
  border-bottom: solid 1px var(--color-secondary);
  font-family: 'Fira Sans', sans-serif;
  width: 100%;
}

.card {
  margin: 20px;
  padding: 20px;
  border-radius: 3px;
  background-color: #ffffff;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

button {
  border: none;
  background-color: transparent;
}

.text-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 30px;
  width: 100px;
  font-family: 'Fira Sans', sans-serif;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  border: 0;
  border-radius: 15px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}

.text-button:hover {
  transition: all 0.3s ease;
  background-color: var(--color-highlight);
}

.link-button {
  background-color: transparent;
  text-decoration: underline;
  margin: 20px;
}

.close-button {
  background-color: #fff;
  border: none;
  color: #000000;
}

.close-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px 0;
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  font-size: 1.5rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-container-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

button:disabled {
  background-color: var(--color-tertiary);
  color: #000000;
}

button:disabled:hover {
  background-color: var(--color-tertiary);
  color: #000000;
}
.eye-button {
  height: inherit;
}

.eye-button i {
  margin: 0;
}

.confirmPassword {
  -webkit-text-security: disc;
  border-bottom: solid 1px var(--color-secondary);
}
.password {
  -webkit-text-security: disc;
  border-bottom: none;
}

.password-input {
  border-bottom: none;
}

.password-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px var(--color-secondary);
}

.err {
  color: red;
}

.input-error {
  border: 2px solid red;
}
