.articleCard {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.fa-thumbs-up:hover {
  color: greenyellow;
}

.fa-thumbs-down:hover {
  color: red;
}

.like-buttons {
  margin-top: 10px;
}

.read {
  background-color: var(--color-secondary);
}
